
.bar {
    display: flex; 
    align-items: center; 
    margin: 0px 4%;
    position: relative;
    align-items: stretch;
}

a {
    text-decoration: none;
}

.blurb {
    width: 65%;
    margin: 10px 0px;
}

.subject {
    width: 30%; 
    float: left; 
    text-align: center;
}

.connector{
    color: rgba(0,0,0,0); 
    position: relative; 
    left: 48%; 
    width: 4%; 
    height: 20%; 
}

.connector.up {
    background: linear-gradient(0deg,  rgba(255,127,0,1) 0%, rgba(224,99,56,1) 100%);
}

.connector.down {
    background: linear-gradient(0deg, rgba(71,15,215,1) 0%,   rgba(23,0,240,1) 100%);
}

.vertBar {
    margin: 0px 17.25%;
    
    height: 10px;
}

.title {
    height: 60%;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(23,0,240,1) 0%, rgba(165,44,165,1) 50%, rgba(255,127,0,1) 100%);
}

.title > h2 {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
    .title h2 {
        font-size: 20px;
        padding: 0px 10px;
    }

    .blurb p {
        font-size: 16px;
    }
}


@media screen and (max-width: 500px) {
    main {
        padding: 70px 20px 0px 20px !important;
    }

    .title h2 {
        font-size: 16px;
        padding: 0px 10px;
    }

    .connector {
        height: 35%;
        width: 6%;
    }

    .vertBar {
        margin-inline-end: 16.75%;
        height: 5px !important;
    }

    .title {
        height: 30%;
        padding: 5px;
    }

    .blurb p {
        font-size: 12px;
    }
}