/* positions page below nav*/
main {
    margin: 0 auto;
    padding: 0 0 50px 0;
    padding-top: 0px !important; 
}

/* top color banner*/
#gradBackdrop { 
    height: 180px;
    width: 100%;
    max-width: 1750px;
    background: linear-gradient(112deg, rgba(23,0,240,1) 0%, rgba(165,44,165,1) 50%, rgba(255,127,0,1) 100%);
    z-index: -10;
}

/*main page content */
#container {
    position: relative;
    padding: 0; 
    display: block; 
    height: 900px;
}

/*page title*/
#pageTitle {
    height: fit-content !important;
    display: block; position: absolute; 
    left: 100px; 
    top: 110px; 
    width: 32%; 
    right: 0%; 
}

/*contact form*/
@media screen and (min-width: 0px) {
    #contactForm {
        height: fit-content;
        padding: 30px;
    }

    #contactForm div {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    #contactForm h3 {
        font-family: "Plus Jakarta Sans", sans-serif;
        color: black;
        font-size: 50px;
        font-weight: 500;
    }


    #contactForm input, #contactForm textarea {
        padding: 3px;
        margin-inline-start: 3px;
        padding-inline-start: 10px;
        height: fit-content;
        border-radius: 13px;
        margin-bottom: 4px;
    }

    .binOpt label {
        background-color: black;
        color: white;
        border-radius: 50px;
        padding: 3px 15px;
        border: solid;
        border-width: 2px;
        border-color: black;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.5); 
    }

    /*contact form check boxes*/
    @media screen and (min-width: 0px) {
        .binOpt {
            display: inline-block;
            margin-left: 5px;
        }


        .binOpt label::before {
            content: "+ ";
            position: relative;
            top:-2px;
        }

        .binOpt input[type="checkbox"]:checked + label {
            background-color: white !important;
            color: black;
        }

        .binOpt input[type="checkbox"]:checked + label::before {
            top: 0px;
            content: "✓ ";
        }
    }
}

/*page title sizing*/
@media screen and (max-width: 900px) {
    #pageTitle h1{
        font-size: 47px !important;
    }

    #pageTitle {
        top: 130px !important;
    }
}

/*medium screen width size*/
@media screen and (max-width: 850px) {

    /*resizes content container*/
    #container {
        height: 1100px;
    }

    /*page title sizing*/
    #pageTitle {
        position: relative !important;
        top: -80px !important;
        width: 100% !important;
        left: 0px !important;
        padding: 0px 50px;
    }

    #pageTitle h1 {
        font-size: 70px !important;
    }

    /*contact form*/
    #contactForm {
        left: 0px !important;
        position: relative !important;
        top: -60px !important;
        margin: 0px 20px !important;
        width: calc(100% - 40px) !important;
    }

    #contactForm {
        border-radius: 30px !important;
    }
}

/*narrow screen*/
@media screen and (max-width: 500px) {
 
    /*page content*/
    main {
        padding: 0px !important;
    }

    /*page title*/
    #pageTitle {
        top: -73px !important;
        padding: 0px 30px;
    }

    #pageTitle h1 {
        font-size: 60px !important;
    }

    /*contact form*/
    #contactForm h3{
        font-size: 40px !important;
    }

    #contactForm div {
        font-size: 18px;
        margin-bottom: 5px;
    }

    #contactForm input[type="text"], #contactForm input[type="email"], #contactForm textarea {
        border-radius: 10px;
        font-size: 15px;
    }

    /*contact form check boxes*/
    .binOpt label {
        font-size: 13px;
        padding: 2px 7px;
    }

    .binOpt label::before {
        top: -1px;
    }
    
    .binOpt input[type="checkbox"]:checked + label::before {
        top: 0px;
    }
}
