/* website colors*/
:root {
    --pico-primary-background: #f0f4f9 !important;
    --pico-primary-inverse: black !important;
    --pico-switch-checked-background-color: #0172ad !important;
    --pico-primary-hover: rgb(221,227,234) !important;
    --pico-primary-hover-background: rgb(221,227,234) !important;
}

/*whole page*/
body {
    display: block;
    height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/*page content*/
main {
    background: white;
    padding: 70px 40px 0px 40px;
    border-width: 0px;
}

/*hide*/
.hidden {
    display: none !important;
}

/*side margins with logos */
.tileBackground {
    position: fixed;
    height: 100%;
    background-image: url("../Images/Logo Repeat.jpg");
    background-size: 200px;
    background-repeat: repeat;
    width: calc((100vw - 1750px)/2);
    z-index: -1;
}

#backgroundLeft{
    left: 0;
}

#backgroundRight {
    right: 0;
}

/*max content width*/
body > *, nav {
    max-width: 1750px;
    margin: 0 auto;
}

/*black background behind all elems*/
#backgroundBlack {
    height: 100%;
    width: 100%;
    max-width: 1750px;
    background: black;
    position: fixed; 
    z-index: -1;
}

/*header and foot positioning*/
header, footer{
    padding: 0 !important;
    border: none;
}

#footer {
    border: hidden;
}

/*switch bar*/
.switchBar button{
    font-size: 12px; 
    padding: 4px 7px; 
    border: solid; 
    border-width: 3px;
    border-color: black;
    font-weight: 500;
    box-shadow: none;
    background-color: black;
    color: white;
}

.selected {
    background-color: white !important;
    color: black !important;
}



