:root {
    --selection-border-radius: 10px;
}

main {
    position: relative;
    z-index: 0;
}


main * {
    font-family: 'RomanSerif', sans-serif;
    line-height: 1.5;
}

main * h2 {
    margin-bottom: 0px;
    font-family: 'RomanSerif', sans-serif;
}

.topic {
    margin-top: 40px;
    margin-bottom: 15px;
}

#mathExplanation * div {
    margin-bottom: 50px;
    padding-bottom: 30px;
}
#rangeExplanation > li {
    margin-top: 40px !important;
}

.noBottom {
    margin-bottom: 0px !important;
}

@media screen and (max-width: 850px) {
    .topic {
        margin-top: 30px !important;
    }

    main * h2 {
        font-size: 150%;
    }

    .switchBar button{
        font-size: 12px !important;
        border-width: 2px !important;
    }

    p, .explanation, .math, .example {
        font-size: 10px !important;
    }

    #mathExplanation * div{
        margin-bottom: 30px !important;
    }

    :root {
        --selection-border-radius: 8px;
    }
}

@media screen and (max-width: 500px) {
    .topic {
        margin-top: 20px !important;
    }

    main * h2 {
        font-size: 120%;
    }

    .switchBar button{
        font-size: 8px !important;
        border-width: 1.5px !important;
        padding: 3px 5px !important;
    }

    p, .explanation, .math, .example {
        font-size: 9px !important;
    }

    #mathExplanation * div{
        margin-bottom: 10px !important;
    }

    :root {
        --selection-border-radius: 5px;
    }
}