/* positions page below nav*/
.main {
    margin: 0 auto;
}

/* top color banner*/
#gradBackdrop { 
    height: 180px;
    width: 100%;
    max-width: 1750px;
    background: linear-gradient(112deg, rgba(23,0,240,1) 0%, rgba(165,44,165,1) 50%, rgba(255,127,0,1) 100%);
    z-index: -10;
}

/*page content*/
#container {
    padding: 0; 
    display: block; 
    height: 700px;
}

/*text*/
#pageTitle {
    height: fit-content !important;
    display: block; 
    position: relative; 
    padding: 0px 80px;
    top: -100px; 
    width: 100%; 
    right: 0%; 
}

/*top large text*/
#pageTitle h1{
    font-size: 90px !important;
}

/*medium screen*/
@media screen and (max-width: 900px) {

    /*smaller top text*/
    #pageTitle h1{
        font-size: 70px !important;
    }

    /*move text upward*/
    #pageTitle {
        top: -80px !important;
    }
}

/*narrow screen*/
@media screen and (max-width: 850px) {

    /*reposition text*/
    #pageTitle {
        position: relative !important;
        top: -80px !important;
        width: 100% !important;
        left: 0px !important;
        padding: 0px 50px;
    }

    /*smaller text*/
    #pageTitle h1 {
        font-size: 65px !important;
    }
}
